<div id="<%= dom_id note %>">
  <h2><%= time_tag note.created_at, "data-local": "weekday-or-date" %></h2>
  <p>
    <%= note.content %>
  </p>

  <div>
    <%= link_to "Edit", edit_note_path(note) %> |

    <%= link_to "Delete", note, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
</div>
